:root{
    --tl-size: 54px;
}

body {
font: 14px "Century Gothic", Futura, sans-serif;
margin: 40px;
display: grid;
place-content: center;
}

ol, ul {
padding-left: 30px;
}

.board-row:after {
clear: both;
content: "";
display: table;
}

.status {
margin-bottom: 30px;
}

.square {
background: #fff;
border: 1px solid #999;
float: left;
font-size: 38px;
font-weight: bold;
line-height: var(--tl-size);
height: var(--tl-size);
margin-right: -1px;
margin-top: -1px;
padding: 0;
text-align: center;
width: var(--tl-size);
}

.square:focus {
outline: none;
}

.kbd-navigation .square:focus {
background: #ddd;
}

.game {
display: flex;
flex-direction: row;
}

.game-info {
margin-left: 20px;
}
